@{
    ViewData["Title"] = "Historial de Indicadores";
}
@using DashboarJira.Model
@model List<Ticket>

<link rel="stylesheet" href="~/css/views/Indicadores.css">

<div class="header-view">
    <h1 class="text-2xl font-bold dark:text-white title-view-text">@ViewBag.Title</h1>
</div>

<div class="form-container">

    <div class="inputs-container">
        <label class="TextFecha">Fecha Inicial</label>
        <div class="wrapperFI">
            <input id="dtpStart" required>
        </div>
    </div>
    <div class="inputs-container">
        <label class="TextFecha">Fecha Final</label>
        <div class="wrapperFI">
            <input id="dtpEnd" required>
        </div>
    </div>
    <div class="inputs-container">
        <label class="TextComponente">Indicador</label>
        <div class="wrapperFI">
            <select id="maxSelect">
                <option value="IAIO">IAIO</option>
                <option value="IANO">IANO</option>
                <option value="IRF">IRF</option>
                <option value="RAIO">RAIO</option>
                <option value="RANO">RANO</option>
                <option value="ICPM">ICPM</option>
                <option value="IEPM">IEPM</option>
            </select>
        </div>
    </div>  

    <div class="inputs-container">
        <label class="TextComponente">Indicador</label>
         <div>
        <span class="e-input-group e-control-wrapper  e-ddl e-lib e-keyboard" tabindex="-1" aria-disabled="true" aria-owns="searchParam_options" role="listbox" aria-haspopup="true" aria-expanded="false" aria-activedescendant="null" aria-live="polite" aria-labelledby="searchParam_hidden" style="width: 100%;"><select aria-hidden="true" tabindex="-1" class="e-ddl-hidden" name="searchParam" id="searchParam_hidden" required=""></select><input type="text" id="searchParam" required="" class="e-control e-dropdownlist e-lib e-input e-disabled" role="textbox" readonly="" placeholder="Seleccione un campo" aria-placeholder="Seleccione un campo" disabled="disabled" aria-disabled="true" style="" tabindex="-1"><span class="e-input-group-icon e-ddl-icon e-search-icon"></span></span>
    </div>
    </div> 
    
   
    
    <div class="inputs-container">
        <button onclick="ServiceGetTickets()" type="button" id="button-primary"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Buscar
        </button>
    </div>
</div>
<div class="container-grid">
    <div class="inputs-container">
    <button onclick="exportToExcel()" type="button" id="button-primary"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
        Descargar Excel
    </button>
    </div>
</div>
<div class="container-grid">
    

    <table id="table" class="styled-table">
    <thead>
        <tr>
            <th>Ver más</th>
            <th style="width: auto">Id indicador</th>
            <th>Indicador</th>
            <th>Cantidad</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td onclick='showMoreInformation("@ticket.id_ticket")' style='cursor: pointer; background: none;'>Ver más</td>
                <td>@ticket.id_ticket</td>
                <td>@ticket.fecha_apertura</td>
                <td>@ticket.id_componente</td>
            </tr>
        }
      </tbody>
    </table>
</div>
<script type="text/javascript">
    var columnsSearch = @(Html.Raw(ViewBag.columnsSearch));
    var columnsToHide = @(Html.Raw(ViewBag.columnsToHide));
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Views/Tickets/tickets.js"></script>
<script src="~/js/Views/Tickets/FileSaver.js"></script>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="https://unpkg.com/xlsx-populate/dist/xlsx-populate.min.js"></script>
